  <h1> Listing users </h1>
  <body>
    <%= render :partial => 'shared/search_box' %>
    <%= render :partial => 'shared/search_boxPost' %>
  </body>
<table>
<%= render :partial => @microposts %>
</table>